<div class="calculadora">
  <div class="display">{{this.display}}</div>
  <div class="botones">
    <button type="button" {{on "click" (fn this.presionarBoton '1')}}>1</button>
    <button type="button" {{on "click" (fn this.presionarBoton '2')}}>2</button>
    <button type="button" {{on "click" (fn this.presionarBoton '3')}}>3</button>
    <button type="button" {{on "click" (fn this.presionarOperacion '+')}}>+</button>

    <button type="button" {{on "click" (fn this.presionarBoton '4')}}>4</button>
    <button type="button" {{on "click" (fn this.presionarBoton '5')}}>5</button>
    <button type="button" {{on "click" (fn this.presionarBoton '6')}}>6</button>
    <button type="button" {{on "click" (fn this.presionarOperacion '-')}}>-</button>

    <button type="button" {{on "click" (fn this.presionarBoton '7')}}>7</button>
    <button type="button" {{on "click" (fn this.presionarBoton '8')}}>8</button>
    <button type="button" {{on "click" (fn this.presionarBoton '9')}}>9</button>
    <button type="button" {{on "click" (fn this.presionarOperacion '*')}}>*</button>

    <button type="button" {{on "click" (fn this.presionarBoton '0')}}>0</button>
    <button type="button" {{on "click" (fn this.limpiarPantalla)}}>C</button>
    <button type="button" {{on "click" (fn this.calcularResultado)}}>=</button>
    <button type="button" {{on "click" (fn this.presionarOperacion '/')}}>/</button>
  </div>
</div>
